# Statistic Data

In [1]:
import pandas as pd

In [2]:
sale = pd.read_csv('../data/sale.csv')
car = pd.read_csv('../data/car.csv')    
display(sale.head())
display(car.head())

              ID  Sales_in_thousands  __year_resale_value  Price_in_thousands
0  Acura_Integra              16.919               16.360              21.500
1       Acura_TL              39.384               19.875              28.400
2       Acura_CL              14.114               18.225              22.799
3       Acura_RL               8.588               29.725              42.000
4        Audi_A4              20.397               22.255              23.990

,Manufacturer,Model,Vehicle_type,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,ID
0,Acura,Integra,Passenger,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150,Acura_Integra
1,Acura,TL,Passenger,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778,Acura_TL
2,Acura,CL,Passenger,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2012-01-04,NaN,Acura_CL
3,Acura,RL,Passenger,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779,Acura_RL
4,Audi,A4,Passenger,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639,Audi_A4

In [3]:
# Tính tổng số lượng bán ô tô trên thị trường
sale['Sales_in_thousands'].sum()

8320.698

In [4]:
# Tính giá trung bình của ô tô
sale['Price_in_thousands'].mean()

27.332261146496823

In [7]:
# Xác định 10 ID có giá trị bán lại cao nhất và in ra thông tin xe từ DataFrame Car của 10 xe đó.
sale.sort_values(by='Price_in_thousands', ascending=False).head(10).merge(car, on='ID')

,ID,Sales_in_thousands,__year_resale_value,Price_in_thousands,Manufacturer,Model,Vehicle_type,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Mercedes-B_CL500,0.954,18.072975,85.500,Mercedes-B,CL500,Passenger,5.0,302.0,113.6,73.1,196.6,4.115,23.2,20.0,2011-04-11,141.100985
1,Mercedes-B_SL-Class,3.311,58.600000,82.600,Mercedes-B,SL-Class,Passenger,5.0,302.0,99.0,71.3,177.1,4.125,21.1,20.0,2011-03-17,139.982294
2,Porsche_Carrera Cabrio,1.866,67.550000,74.970,Porsche,Carrera Cabrio,Passenger,3.4,300.0,92.6,69.5,174.5,3.075,17.0,23.0,2011-07-11,135.914710
3,Porsche_Carrera Coupe,1.280,60.625000,71.020,Porsche,Carrera Coupe,Passenger,3.4,300.0,92.6,69.5,174.5,3.032,17.0,21.0,2012-12-21,134.390975
4,Dodge_Viper,0.916,58.470000,69.725,Dodge,Viper,Passenger,8.0,450.0,96.2,75.7,176.7,3.375,19.0,16.0,2011-08-07,188.144323
5,Mercedes-B_S-Class,16.774,50.375000,69.700,Mercedes-B,S-Class,Passenger,4.3,275.0,121.5,73.1,203.1,4.133,23.2,21.0,2011-06-13,125.273876
6,Audi_A8,1.380,39.000000,62.000,Audi,A8,Passenger,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858
7,Lexus_LX470,9.126,18.072975,60.105,Lexus,LX470,Car,4.7,230.0,112.2,76.4,192.5,5.401,25.4,15.0,2012-10-30,105.760458
8,Lexus_LS400,6.375,40.375000,54.005,Lexus,LS400,Passenger,4.0,290.0,112.2,72.0,196.7,3.890,22.5,22.0,2012-03-29,124.446716
9,Toyota_Land Cruiser,9.835,34.080000,51.728,Toyota,Land Cruiser,Car,4.7,230.0,112.2,76.4,192.5,5.115,25.4,15.0,2011-09-25,102.528984

In [8]:
# Đếm số lượng phương tiện mỗi loại (Passenger, Car)
car['Vehicle_type'].value_counts()

Vehicle_type
Passenger    116
Car           41
Name: count, dtype: int64

In [11]:
# Xác định mode của hãng xe
car['Manufacturer'].mode()

0    Dodge
1     Ford
Name: Manufacturer, dtype: object

In [13]:
# Sắp xếp DataFrame Sale giảm dần theo mức độ ưu tiên số lượng bán, giá bán, giá bán lại dự kiến và in kết quả ra màn hình.
sale.sort_values(by=['Sales_in_thousands', 'Price_in_thousands', '__year_resale_value'], ascending=False)

,ID,Sales_in_thousands,__year_resale_value,Price_in_thousands
56,Ford_F-Series,540.561,15.075000,26.935
52,Ford_Explorer,276.747,16.640000,31.930
137,Toyota_Camry,247.994,13.245000,17.518
49,Ford_Taurus,245.815,10.055000,17.885
58,Honda_Accord,230.902,13.210000,15.350
...,...,...,...,...
125,Porsche_Carrera Coupe,1.280,60.625000,71.020
108,Oldsmobile_Cutlass,1.112,11.240000,18.145
99,Mercedes-B_CL500,0.954,18.072975,85.500
39,Dodge_Viper,0.916,58.470000,69.725
83,Mitsubishi_3000GT,0.110,20.940000,25.450

In [15]:
# Gộp 2 DataFrame lại theo thuộc tính “ID” và in kết quả ra màn hình.

sale.merge(car, on='ID')
# pd.concat([sale, car], axis=1) # or 
# or sale.join(car, on='ID')

,ID,Sales_in_thousands,__year_resale_value,Price_in_thousands,Manufacturer,Model,Vehicle_type,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura_Integra,16.919,16.360000,21.500,Acura,Integra,Passenger,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura_TL,39.384,19.875000,28.400,Acura,TL,Passenger,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
2,Acura_CL,14.114,18.225000,22.799,Acura,CL,Passenger,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2012-01-04,NaN
3,Acura_RL,8.588,29.725000,42.000,Acura,RL,Passenger,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi_A4,20.397,22.255000,23.990,Audi,A4,Passenger,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo_V40,3.545,18.072975,24.400,Volvo,V40,Passenger,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,2011-09-21,66.498812
153,Volvo_S70,15.245,18.072975,27.500,Volvo,S70,Passenger,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2012-11-24,70.654495
154,Volvo_V70,17.531,18.072975,28.800,Volvo,V70,Passenger,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2011-06-25,71.155978
155,Volvo_C70,3.493,18.072975,45.500,Volvo,C70,Passenger,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,2011-04-26,101.623357
156,Volvo_S80,18.969,18.072975,36.000,Volvo,S80,Passenger,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2011-11-14,85.735655